<!-- components/Header.astro -->
<link rel="stylesheet" href="/global.css">
<header class="header">
  <div class="container">
    <h1>Aldrin Roger - Mi Blog</h1>
    <div class="menu">
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
